.sidenav {
    padding-top: 1em;
    button {
        display: block;
        color: #fff;
        border: 0px solid #fff;
        transition: all .3s ease;
        &:hover {
            color: #111;
        }
    }
}

@media screen and (max-width: 490px) {
    .sidenav {
        white-space: nowrap;
        button {
            display: inline;
            padding: 0 .5em;
        }
    }
}