.skills {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        max-height: 30vh;
        li {
            margin: 1em;
            flex-grow: 1;
        }
    }
   
}

@media screen and (max-width: 490px){
    .skills {
        ul {
            max-height: none;
            flex-direction: row;

        }
    }
}