.header {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    padding: 10px;
    text-align: left;
    &__logo {
        width: 120px;
        img{
            height: 100px;
    }
    }
    &__text {
        width: 400px;
        line-height: 10px;
    }
    h1 {
        font-size: 2.5em;
        font-weight: 200;
    }
}

@media screen and (max-width: 490px){
    .header {
        &__text {
            width: 100%;
            line-height: normal;        }
        h1 {
            font-size: 1.5em;
            margin: 0;
        }
        h2 {
            font-size: .75em;
            margin: 0;
        }
    }
    
}