.experience {
    display: block;
    button {
        &:hover {
            background-color: #787878 !important;
        }
    } 
    .role {
        color: #fff;
        font-size: 1.25em;
        font-weight: bold;
    }
    .date {
        color: #fff;
        margin-left: auto;
       
    }
    .expAccordion {
        float: right;
    }
}