.experience {
    display: block;
    // width: 70vw;
    .css-1twr7re-JoyAccordionSummary-button, .css-m65nqi-JoyAccordionDetails-root, .css-1r2bn3-JoySvgIcon-root {
        color: #fff;
        font-family: 'Nunito', 'Comfortaa', 'Arial Narrow Bold', sans-serif;
    }
    .role {
        font-size: 1.25em;
        font-weight: bold;
    }
    .date {
        margin-left: auto;
    }
    .expAccordion {
        float: right;
    }
}