body {
  margin: 0;
  font-family: 'Space Grotesk Variable', 'Nunito', 'Comfortaa', 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #555;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}